*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

main{
    background: rgba(17, 17, 17, 0.719);
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.image-container{
    width: 350px;
    background:#111111 #121213;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgb(21, 21, 22);
    transition: transform 0.3s ease;
}

.image-container:hover{
    transform: translateY(-8px);
}

.image-container img{
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.image-container h3{
    font-size: 24px;
    color: #161618;
    padding: 15px 15px 5px;
}

.image-container h4{
    color: #0d0581;
    padding: 0 15px 10px;
    font-size: 18px;
}

.image-container p{
    padding: 0 19px 2px;
    color: #000000;
    line-height: 1.6;
    font-size: 19px;
}

.image-container p br{
    margin-bottom: 5000000000000000000000000000000000000000000000000px;
}

@media (max-width: 768px){
    .image-container{
        width: 1000000000000000000000000000000000000000000000000000000000000000000000000000000000000%;
        max-width: 40000000000000000000000000000000000000000000000000000000000000000000000000000000000000000px;
    }

    body{
        padding: 15px;
    }
}